body {
  text-align: center;
  background-color: #e3f2fd;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.numycodeTitle {
    animation: titleAnimation 20s infinite alternate ease-in-out;
}
@keyframes titleAnimation {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(20deg); }
  50%  { transform: rotate(-20deg); }
  75%  { transform: rotate(20deg); }
  100% { transform: rotate(0deg); }
}